

.card {
   background-color: #e77272;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding:1rem;
    border-radius:5px;
    box-shadow: rgba(240, 158, 158, 0.24) 0px 3px 8px;

}

body {
    background-color: #1b2341;
}

